ul {
  list-style-type: none;
}

.team-member-navigation {
  margin-bottom: calculateMargin(10px);
  a {
    margin: 0 3px;
    display: inline-block;
    border-radius: 20px;
    width: 7px;
    height: 7px;
    background: var(--pumice);
    text-indent: -9999px;
    &.platinum {
      background: var(--alabaster);
    }
  }
}

.direction-arrow {
  position: absolute;
  bottom: 33%;
  font-size: 36px;
  font-weight: 100;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    font-weight: 300;
  }
  &.back {
    left: 0;
  }
  &.forward {
    right: 0;
  }
}

.brand-button,
button,
button[type=submit],
input[type=submit] {
  border: none;
  border-radius: 20px;
  color: var(--brand-white);
  padding: 10px 20px;
}

.social {
  ul {
    margin-top: 0;
    li {
      color: var(--platinum);
      transition: color .25s ease;
      &:hover {
        color: var(--pumice);
      }
    }
  }
}