ul {
  list-style-type: none;
}

.direction-arrow {
  position: absolute;
  border: 2px solid red;
  bottom: 33%;
  font-size: 36px;
  font-weight: 100;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    font-weight: 300;
  }
  &.back {
    left: 0;
  }
  &.forward {
    right: 0;
  }
}

.brand-button,
button,
button[type=submit],
input[type=submit] {
  border: none;
  border-radius: 20px;
  color: var(--brand-white);
  background: var(--vermillion);
  padding: 10px 20px;
  transition: background 0.25s ease;
  &:hover {
    color: var(--brand-white);
  }
  &.--red-gradient-background {
    background: linear-gradient(to right, var(--vermillion) 51%, var(--pizazz) 100%);
    transition: .25s;
    background-size: 200% auto;
    &:hover {
      background-position: right center;
    }
  }
  &.--white-background {
    background: var(--brand-white);
    transition: .25s;
    &:hover {
      color: var(--brand-white);
      background: var(--mountain-mist);
    }
  }
  &.--grey-border {
    border: 1px solid var(--cod);
  }
  &.--mountain-mist-border {
    border: 1px solid var(--mountain-mist);
  }
  &+button {
    margin-left: calculateMargin(10px);
  }
}

.social {
  ul {
    margin-top: 0;
    li {
      color: var(--platinum);
      transition: color .25s ease;
      &:hover {
        color: var(--pumice);
      }
    }
  }
}