:root {
  --darkness: #1d1d1d;
  --pumice: #c5c5c5;
  --shadow: #1b1b1b;
  --platinum: #e4e3e4;
  --black-russian: #242528;
  --mountain-mist: #959595;
  --alabaster: #f8f8f8;
  --shark: #232527;
  --vermillion: #ff4204;
  --pizazz: #ff8a05
}

.page-container {
  background: var(--shadow);
  height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 300px;
  color: var(--platinum);
  background: var(--darkness);
  padding-top: calculateMargin(40px);
  text-align: center;
  h1 {
    margin-bottom: 0;
    @include fontSize(13px);
    font-weight: 400;
    text-transform: uppercase;
  }
}

nav {
  margin-bottom: calculateMargin(20px);
}

.user-pic {
  position: relative;
  img {
    display: block;
    width: 300px;
    filter: grayscale(100%);
    transition: filter .25s ease;
  }
}

.user-info {
  padding-top: calculateMargin(10px);
  padding-bottom: calculateMargin(10px);
  color: var(--pumice);
  background: var(--darkness);
  .name,
  .title {
    display: block;
    color: var(--platinum);
    text-transform: uppercase;
  }
  .name {
    color: var(--pumice);
    @include fontSize(24px);
    font-weight: 100;
  }
  .title {
    margin-bottom: calculateMargin(5px);
    @include fontSize(13px);
    font-weight: 400;
  }
  .contact-info {
    @include fontSize(12px);
    margin-bottom: calculateMargin(10px);
  }
  .social {
    ul {
      padding-left: 0;
    }
    li {
      display: inline-block;
    }
  }
}
