/****************************************
  Inherited Syles
*****************************************/
/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
  font: 100% 'Roboto', sans-serif, Arial;
  font-weight: 300; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  color: inherit;
  font: inherit; }

/****************************************
  Resets
*****************************************/
body {
  margin: 0; }

h1, h2, h3 {
  margin: 0; }

header {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  color: var(--cod); }

h1 {
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: 1.25rem; }

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

a {
  text-decoration: none; }

p {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
  line-height: 160%;
  font-weight: 400; }
  p > code {
    display: inline-block; }

:root {
  --darkness: #1d1d1d;
  --pumice: #c5c5c5;
  --shadow: #1b1b1b;
  --platinum: #e4e3e4;
  --black-russian: #242528;
  --mountain-mist: #959595;
  --alabaster: #f8f8f8; }

.page-container {
  min-height: 100vh;
  background: var(--shadow); }

main {
  margin: 0 auto;
  max-width: 300px;
  color: var(--platinum);
  background: var(--darkness);
  padding-top: 2.5rem;
  text-align: center; }
  main h1 {
    margin-bottom: 0.25rem;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 400;
    text-transform: uppercase; }

.user-pic {
  position: relative; }
  .user-pic img {
    display: block;
    width: 300px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: -webkit-filter .25s ease;
    transition: -webkit-filter .25s ease;
    transition: filter .25s ease;
    transition: filter .25s ease, -webkit-filter .25s ease; }

.user-info {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: var(--pumice);
  background: var(--darkness); }
  .user-info .name,
  .user-info .title {
    display: block;
    color: var(--platinum);
    text-transform: uppercase; }
  .user-info .name {
    color: var(--pumice);
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 100; }
  .user-info .title {
    margin-bottom: 0.3125rem;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 400; }
  .user-info .contact-info {
    font-size: 12px;
    font-size: 0.75rem;
    margin-bottom: 0.625rem; }
  .user-info .social ul {
    padding-left: 0; }
  .user-info .social li {
    display: inline-block; }

.background-cod {
  background-color: #111; }

ul {
  list-style-type: none; }

.team-member-navigation {
  margin-bottom: 0.625rem; }
  .team-member-navigation a {
    margin: 0 3px;
    display: inline-block;
    border-radius: 20px;
    width: 7px;
    height: 7px;
    background: var(--pumice);
    text-indent: -9999px; }
    .team-member-navigation a.platinum {
      background: var(--alabaster); }

.direction-arrow {
  position: absolute;
  bottom: 33%;
  font-size: 36px;
  font-weight: 100;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer; }
  .direction-arrow:hover {
    font-weight: 300; }
  .direction-arrow.back {
    left: 0; }
  .direction-arrow.forward {
    right: 0; }

.brand-button,
button,
button[type=submit],
input[type=submit] {
  border: none;
  border-radius: 20px;
  color: var(--brand-white);
  padding: 10px 20px; }

.social ul {
  margin-top: 0; }
  .social ul li {
    color: var(--platinum);
    -webkit-transition: color .25s ease;
    transition: color .25s ease; }
    .social ul li:hover {
      color: var(--pumice); }

/*# sourceMappingURL=maps/styles.css.map */
